
  <h2>User Info</h2>
        <%= image_tag user.get_profile_image(63,63) %>
        <table class="table">
        <thead>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th >introdaction</th>
            <th><%= user.introduction %></th>
          </tr>
        </thead>
        </table>
        <div class="row">
          <%= link_to(edit_user_path(user), class:"btn btn-outline-secondary btn-sm  btn-block") do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </div>

